{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
    Blog | Reset Password
{% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 30px; background-color: aliceblue;">
    <div class="row">
        <!-- Basic -->
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post" action="{% url 'admin_reset_pass' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
