{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
Evento | SportsList
{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 50px; background-color: aliceblue;">
    <div class="d-flex align-items-center mb-3">
        <!-- Pills Navigation -->
        <ul class="nav nav-pills mb-0 flex-fill" role="tablist">
            <li class="nav-item flex-fill">
                <button
                    type="button"
                    class="nav-link active"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-pills-justified-home"
                    aria-controls="navs-pills-justified-home"
                    aria-selected="true"
                >
                    <i class="tf-icons bx bx-calendar"></i> All Sports
                    <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ visible_count }}</span>
                </button>
            </li>
            <li class="nav-item flex-fill">
                <button
                    type="button"
                    class="nav-link"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-pills-justified-hidden"
                    aria-controls="navs-pills-justified-hidden"
                    aria-selected="false"
                >
                    <i class="tf-icons bx bx-hide"></i> Hidden Sports
                    <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-success">{{ hidden_count }}</span>
                </button>
            </li>
        </ul>
        

        <!-- Search Form -->
        <form method="GET" action="{% url 'sports_list' %}" class="d-flex ms-3 flex-shrink-1">
            <input type="text" name="q" class="form-control me-2" placeholder="Search movies..." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Tab Content -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-pills-justified-home" role="tabpanel">
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sport Name</th>
                                <th>Organizer</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sport in visible_sports %}
                            <tr>
                                <td><a href="{% url 'view_each_event' event_id=sport.id %}">{{ sport.title }}</a></td>
                                <td>{{ sport.organizer.user.username }}</td>
                                <td>{{ sport.date|date:"d-m-Y" }}</td>
                               
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'view_each_event' event_id=sport.id %}">View</a>
                                            <form action="{% url 'hide_event' 'sport' sport.id %}" method="POST" style="display: inline;">
                                                {% csrf_token %}
                                                {% if sport.status == 'visible' %}
                                                <button type="submit" class="dropdown-item">Hide</button>
                                                {% else %}
                                                <button type="submit" class="dropdown-item">Show</button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No sports available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Hidden Movies Tab Content -->
        <div class="tab-pane fade" id="navs-pills-justified-hidden" role="tabpanel">
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sport Name</th>
                                <th>Organizer</th>
                                <th>Date</th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sport in hidden_sport %}
                            <tr>
                                <td><a href="{% url 'event_view' event_id=sport.id %}">{{ sport.title }}</a></td>
                                <td>{{ sport.organizer.user.username }}</td>
                                <td>{{ sport.date|date:"d-m-Y"  }}</td>
                                
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'event_view' event_id=sport.id %}">View</a>
                                            <form action="{% url 'show_event' 'sport' sport.id %}" method="POST" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item">Show</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No hidden sports available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
